<footer class="bg-light border-top mt-auto">
    <ul class="nav justify-content-center py-3">
        <li class="nav-item p-2">Home</li>
        <li class="nav-item p-2">Campgrounds</li>
        <li class="nav-item p-2">Terms of use</li>
        <li class="nav-item p-2">FAQ</li>
        <li class="nav-item p-2">About project</li>
    </ul>
    <p class="fs-6 fst-italic text-center">© 2022 CAMPWITHLOVE</p>
</footer>