<% layout('partials/boilerplate') %>
<script>
  document.title = 'Error'
</script>
<div class="row py-2">
<div class="alert alert-danger d-flex align-items-center mt-5" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <% if (process.env.NODE_ENV !== 'production') { %> <div>
      <%= err.statusCode %> <%= err.message %> 
    <% } %> 
    </div>
</div>