.container-fluid {
    font-family: 'Koulen', cursive;
    font-size: x-large;
}

.nav-link:hover {
    color: #198754;
}

nav .btn {
    padding: 5px 40px;
    font-size: large;
}

nav .dropdown-menu {
    font-size: large;
}

.mapboxgl-canvas {
    border-radius: 10px;
}

#map {
    margin-top: 20px;
    height: 55vh;
}

/* .mapboxgl-ctrl-attrib-inner {
    padding-bottom: 10px;
}

.mapboxgl-ctrl {
    padding-bottom: 5px;
} */

.card {
    margin-top: 0%;
}

.hiddenCol {
    margin: 0px;
}

.hiddenCol > .card {
    display: none;
    max-height: 0px;
}

.card-body > .img-fluid {
    height: inherit;
}

.mapboxgl-ctrl-top-right {
    margin-top: 15px;
}

.container {
    position: relative;
    height: 400px;
    border: 2px solid #006100;
}
  
.centered {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}