body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/bg-img.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
}

.container-fluid {
    width: 100vh;
    font-family: 'Koulen', cursive;
    font-size: x-large;
}

.nav-link {
    color: white;
    margin: 20px 10px;
}

.nav-link:hover {
    color: #198754;
    transform: scale(1.25);
}

nav .btn {
    padding: 5px 40px
}

#loginForm {
    width: inherit;
}

@media (min-width: 992px) {
    #loginForm {
        width: 300px
    }
}